li {
    padding: 20px;
}
body {
    overflow-x: hidden;
    font-family: var(--bs-body-font-family);
    font-size: 16px;
}

li a{
    text-decoration: none;
}
li a:link{
    color: #03DAC6;
}

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar {
  background-color: #2d353c;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  opacity: 0.8;      
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  align-items: center;
}

.sidebar-header{
  align-items: center;
  justify-content: center;
  width: 250px;
  height:180px;
}
.sidebar-header::before{
  content:"";
  opacity: 0.8;
  position: absolute;
  background-size: 100% 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 1300px;
  opacity: 0.4;
}

.sidebar-header h1 {
  position: relative;
  color: #dee2e6;
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding-top: 25px;
  font-size: 35px;
  text-align: left;
  padding-left: 25px;
}
.sidebar-header small{
  position: relative;
  color: #dee2e6;
  display: block;
  text-decoration: none;
  font-size: 18px;
  text-align: left;
  padding-left: 25px;
}

#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #858a8e;
  font-size: 20px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #dee2e6;
}

#sidebar .nav a i{
  margin-right: 16px;
}

.mobile-navbar {
  display: none;
  background-color: #2d353c;
  opacity: 0.8;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
}

.mobile-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}

.brand-link {
  color: #dee2e6;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-dashboard a, .nav-users a {
  background: none;
  color: #858a8e;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px; 
  border-bottom: 1px solid #455A64;

}

.mobile-nav-container a:hover {
  color: #03DAC6;
}

.main-content {
  transition: all 0.5s ease;
}


@media (max-width: 768px) {
  #sidebar {
    display: none !important;
  }

  .content{
    display: none !important;
  }

  .breadcrumb-title {
    padding: 20px;
    margin-bottom: 1rem;
    display: none;
  }

  #reportrange {
    padding-top: 80px;
    margin-left: 0;
  }
  
  #viewport {
    padding-left: 0;
  }
  
  
  .mobile-navbar {
    display: block;
  }

  .mobile-nav-container {
    width: 100%;
  }
  
  .main-content {
    padding-top: 70px;
    width: 100%;
  }
}
