include LICENSE.txt
include README.rst
recursive-include docs/static *
recursive-include impossible_travel/management *
recursive-include impossible_travel/modules *
recursive-exclude impossible_travel/dashboard *
recursive-exclude impossible_travel/tests *
