{% macro title(alert) -%}
BuffaLogs - Login Anomaly Alert: {{ alert.name }} for user {{ alert.user.username }}
{%- endmacro %}

{% macro description(alert) -%}
Dear admin,
An unusual login activity has been detected:

User: {{ alert.user.username }}
Alert type: {{ alert.name }}
Alert description: {{ alert.description }}

The raw data relating to the login that triggered the alert is:
{{ alert.login_raw_data }}

Stay Safe,
Buffalogs
{%- endmacro %}