name: CI

on:
  pull_request:
    branches:
      - main
      - develop

# discard previous execution if you commit to a branch that is already running
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  detect-changes:
    uses: ./.github/workflows/_detect_changes.yml
    with:
      backend_directories: buffalogs .github build
      frontend_directories: frontend .github
      ubuntu_version: 22.04



  # node:
  #   needs: detect-changes
  #   if: ${{ needs.detect-changes.outputs.frontend > 0 }}
  #   uses: ./.github/workflows/_node.yml
  #   with:
  #     working_directory: .github/test/node_test

  #     use_eslint: true
  #     use_prettier: true
  #     use_stylelint: true

  #     run_codeql: true

  #     custom_command: npm exec -c whoami

  #     use_react: true
  #     check_packages_licenses: true
  #     use_jest: true

  #     use_coverage: true
  #     upload_coverage: true
  #     max_timeout: 15
  #     ubuntu_version: 22.04
  #     node_versions: >-
  #       ["18"]


  python:
     needs: detect-changes
     if: ${{ needs.detect-changes.outputs.backend > 0 }}
     uses: ./.github/workflows/_python.yml
     secrets: inherit
     with:
      working_directory: buffalogs
      use_black: true
      use_isort: true
      use_flake8: true
      use_pylint: false
      use_bandit: false
      use_autoflake: false

      run_codeql: false

      requirements_path: buffalogs/requirements.txt
      django_settings_module: buffalogs.settings.settings

      check_migrations: true
      check_requirements_licenses: false

      use_postgres: true
      postgres_version: 15.4
      postgres_db: buffalogs
      postgres_user: default_user
      postgres_password: password
      use_memcached: false
      use_elastic_search: true
      elasticsearch_version: 7.17.13
      use_rabbitmq: false
      use_mongo: false
      use_celery: false

      # celery_app: python_test.celery
      # celery_queues: default

      use_coverage: true
      upload_coverage: false
      # tags_for_slow_tests: main
      # tags_for_manual_tests: manual

      python_versions: >-
        ["3.10"]
      max_timeout: 7
      ubuntu_version: 22.04
